<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.0.0" targetFramework="net40" />
  <package id="FluentNHibernate" version="1.4.0.0" targetFramework="net40" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net40" />
  <package id="Machine.Specifications" version="0.8.2" targetFramework="net40" />
  <package id="Machine.Specifications.Should" version="0.7.2" targetFramework="net40" />
  <package id="Moq" version="4.2.1402.2112" targetFramework="net40" />
  <package id="Nancy" version="0.22.2" targetFramework="net40" />
  <package id="Nancy.Bootstrappers.Autofac" version="0.22.2" targetFramework="net40" />
  <package id="Nancy.Hosting.Aspnet" version="0.22.2" targetFramework="net40" />
  <package id="NHibernate" version="3.3.3.4001" targetFramework="net40" />
  <package id="NUnit" version="2.6.3" targetFramework="net40" />
  <package id="sqlite-net" version="1.0.8" targetFramework="net40" />
</packages>